/*--Universal Selector--*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--Element Selectors--*/

body {
    background-color: rgb(249, 213, 194);
}

a {
    color: rgb(241, 241, 232);
}

a:hover {
    color: gray;
}

/*--Header Nav and Main Image--*/

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #1e1e1e;
    color: rgb(241, 241, 232);
}

.header h1 {
    display: inline-block;
    font-size: 20px;
}

.header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: block;
    margin-left: 25px;
    float: right;
}

.mainimage {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    border-bottom: 6px dotted;

}

#name {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    font-family: 'Petit Formal Script', cursive;
}

#hailey-pic {
    height: 14%;
    width: 14%;
    margin: 42px;
    border-radius: 50%;
}

/*--Sub-header--*/

.flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    border-bottom: 6px dotted;

}

.flex1,
.flex2,
.flex3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vw;
}

.flex2 {
    color: rgb(241, 241, 232);
    text-decoration: underline;
}
